body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  max-width: 740px;
  margin: 0 auto;
}

footer {
  height: 80px;
}

section {
  padding: 30px 0;
}

main .title {
  font-size: 2rem;
}

main .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  /* border: 1px solid red; */
}

main .subTitle {
  width: 260px;
  /* border: 1px solid blue; */
}

main .content {
  width: 480px;
  /* border: 1px solid orange; */
}
