body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  max-width: 740px;
  margin: 0 auto;
  padding: 0 50px;
}

footer {
  height: 80px;
}

section {
  padding: 18px 0;
}

main .title {
  font-size: 2rem;
}

main .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  /* border: 1px solid red; */
}

main .subTitle {
  flex-basis: 35%;
  padding: 15px 0;
  /* border: 1px solid blue; */
}

main .content {
  flex-basis: 65%;
  /* border: 1px solid orange; */
}
